body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13pt;
}

#col1{
    background-color: #9C9EFE;
    height: 80vh;
    text-align: center;
    padding-top: 15%;
}

#col2{
    background-color: #A66CFF;
    height: 80vh;
}

#headr{
    background-color: #B1E1FF;
}

h1{
    color: black;
    font-weight: bold;
}

p{
    color: black;
}

.headnav{
    color: black;
    text-decoration: none;
    border-right: solid #AFB4FF 2px;
    padding: 2%;
}

a:hover{
    color: #A66CFF;
    transition-duration: 0.8s;
}

.bild1{
    width: 60%;
    margin-top: 15%;
    margin-left: 20%;
    border: 5px dotted black;
    border-radius: 50%;
}

.headr{
    background-color: #B1E1FF;
    margin-top: 0%;
    padding-top: 1.5%;
}

li{
   display: inline;
}

footer{
    background-color: rgb(51, 50, 50);
    padding: 5%;
    color: white;
    text-align: center;
}

.fa-github{
    color: white;
    font-size: 20pt;
}

.fa-brands{
    color: white;
    font-size: 20pt;
}

.fa-duotone{
    color: black;
}
